$background_color: #21232E;
$general_font: 'Fresca', sans-serif;
$image_url: url('../img/m-h-night.jpg');
$text_color: #fff;
$pseudo_color: #FF4E33;
$button_color: #E3AC00;
$gray_background: #3B3F50;
$banner_background: linear-gradient(90deg, rgba(221,163,6,1) 0%, rgba(153,55,75,1) 100%);
$SourceSans: 'Source Sans Pro', sans-serif;
